# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variáveis de ambiente
.env
.env.local
.env.*.local
**/.env

# Arquivos sensíveis
**/tokens/
**/storage/*.json
!**/storage/*.js

# Build / cache
dist/
build/
.vite/
.eslintcache

# Sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
